<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司概况 - 陕西宝鼎融资担保有限公司</title>
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
<div class="main">
    <!--top-->
    <div class="top">
        <div class="top-rt clearfix">
            <div class="weather fl">
                &nbsp;<img width="25px" height="18px" src="image/xiaoyu.png" style="vertical-align:middle;">&nbsp;<font class="red">22 </font>~<font class="green"> 19℃</font>&nbsp; 北风微风
            </div>
            <div class="date fl">
                今天是2016年09月05日    星期一
            </div>
            <div class="menu">
                <a href="index.html" class="sy">首页</a>
                <a href="lxwm_lxfs.html" class="lx">联系我们</a>
            </div>

        </div>
        <div class="top-tc clearfix">
            <a href="javascript:;"  class="logo fl">
                <i></i>
                <b>陕西宝鼎融资担保</b>
                <em>SHANXIBAODINGRONGZIDANBAO</em>
                <!--<img src="image/logo.png" style="width: 376px"/>-->
            </a>
            <div class="nav clearfix">
                <div class="nav-list" id="navlist">
                    <ul class="clearfix">
                        <li class="item01"><a href="about_information.html">关于我们</a></li>
                        <li class="item02"><a href="news_firm.html">新闻中心</a></li>
                        <li class="item03"><a href="work_introduce_rzdb.html">业务介绍</a></li>
                        <li class="item04"><a href="work_process.html">业务流程</a></li>
                        <li class="item05"><a href="work_apply.html">业务申请</a></li>
                        <li class="item06"><a href="policy.html" class="">政策法规</a></li>
                    </ul>
                </div>
                <div class="nav-box" id="navbox" style="height: 0px; opacity: 0.5; overflow: hidden;">
                    <div class="cont" style="display: none; height: 36px; padding-left: 285px;">
                        <a href="about_information.html">公司概况</a>
                        <a href="about_culture.html">企业文化</a>
                        <a href="about_run.html">经营范围</a>
                        <a href="about_team.html">管理团队</a>
                        <a href="about_brand.html">品牌优势</a>
                    </div>
                    <div class="cont" style="display: none; height: 36px; padding-left: 460px;">
                        <a href="news_firm.html">公司新闻</a>
                        <a href="news_trend.html">行业动态</a>
                        <a href="news_staff.html">员工风采</a>
                    </div>
                    <div class="cont" style="display: none; height: 36px; padding-left: 560px;">
                        <a href="work_introduce_rzdb.html">融资担保</a>
                        <a href="work_introduce_ssbq.html">诉讼保全</a>
                        <a href="work_introduce_lydb.html">履约担保</a>
                        <a href="work_introduce_rzzx.html">融资咨询</a>
                    </div>
                    <div class="cont" style="display: none; height: 36px; padding-left: 650px;">
                        <a href="work_process.html">业务流程</a>
                    </div>
                    <div class="cont" style="display: none; height: 36px; padding-left: 760px;">
                        <a href="work_apply.html">业务申请</a>
                    </div>
                    <div class="cont" style="height: 36px; padding-left: 845px; display: none;">
                        <a href="policy.html">政策法规</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--top End-->
    <!--banner-->
    <div class="banner">
        <div class="bd">
            <ul class="clearfix" style="position: relative; width: 1000px; height: 264px; background:#ddd">
                <li style="position: absolute; width: 1000px; left: 0px; top: 0px; display: none;"><a href="zxjj_ywgy.html"><img src="image/16163235383.jpg" alt="banner1"></a></li>
                <li style="position: absolute; width: 1000px; left: 0px; top: 0px;"><a href="index.html"><img src="image/28144049809.jpg" alt="banner2"></a></li>
                <li style="position: absolute; width: 1000px; left: 0px; top: 0px; display: none;"><a href="index.html"><img src="image/28144058579.jpg" alt="banner3"></a></li>
            </ul>
        </div>
        <div class="hd">
            <ul>
                <li class=""></li>
                <li class="on"></li>
                <li></li>
            </ul>
        </div>
    </div>
    <!--banner End-->
    <!--main-->
    <div class="ab-main clearfix">
        <!--left-->
        <div class="left fl">
            <div class="newsTit clearfix">
                <h3>新闻中心</h3>
            </div>
            <ul class="left-nav">
                <li>
                    <a title="公司新闻" href="news_firm.html" style="z-index:2;">公司新闻</a>
                </li>
                <li>
                    <a title="行业动态"class="current"  href="news_trend.html" style="z-index:2;">行业动态</a>
                </li>
                <li>
                    <a title="员工风采" href="news_staff.html" style="z-index:2;">员工风采</a>
                </li>
            </ul>
            <div class="search">
                <div class="searchTit">网站搜索</div>
                <div class="searchBox clearfix">
                    <form method="post" class="searchForm" action="sslb.html">
                        <input type="text" placeholder="输入关键字进行搜索" name="keyword" class="s-inp fl">
                        <input type="submit" value="搜索" name="submit" class="s-btn fl">
                    </form>
                </div>
            </div>
        </div>
        <!--left End-->
        <!--right-->
        <div class="right fr">
            <div class="right-top">您当前的位置： 首页 &gt; 新闻中心 &gt; 行业动态 </div>
            <div class="right-cen">
                <div class="myContent">
                    <center>
                        <div id="ctl00_ContentPlaceHolder1_about_ctl00_proTit">
                            <div style="width: 96%; margin-top: 20px; height: 40px; padding-top: 20px; color:Blue; font-size:18px; ">
                                <h3>
                                    地产现冰火两重天：商业地产库存高企，物流地产需求旺盛</h3>
                            </div>
                            <br>
                        </div>
                        <div id="ctl00_ContentPlaceHolder1_about_ctl00_proInfo">
                            <span>来源：</span>&nbsp; &nbsp; &nbsp; <span>发布时间:</span>2016-8-29 15:01:39&nbsp; &nbsp; &nbsp;<span>点击率:</span><span id="CCdiv">114</span></div>
                        <script language="JavaScript" type="text/javascript"> ClickCount("CCdiv/news/64/11");
                        </script>
                    </center>
                    <br>
                    <div style="word-break:break-all;">
                        <p style="text-indent: 2em;">1月14日，仲量联行和世邦魏理仕分别发布了成都房地产市场的年度报告。虽然各家统计标准口径有所差异，但是总体情况却一致：写字楼和零售物业库存持续攀升，空置率高企，而物流仓储地产却异军突起，需求强劲。</p><p style="text-indent: 2em;">仲量联行的报告称，2015年，成都甲级办公楼市场总存量攀升至约260万平方米，受全国经济增速放缓及某些金融类相关租户因倒闭或跑路退租影响，甲级办公楼市场的净吸纳量较2014年出现明显回落，仅达约20万平方米。</p><p style="text-indent: 2em;">世邦魏理仕则统计了包含了甲级和乙级写字楼在内的优质写字楼，成都2015年新增供应累计达97万平方米，市场总存量突破650万平方米。统计还显示，2015年优质写字楼净吸纳量较上年骤减七成，需求疲软成为市场的巨大隐忧。</p><p style="text-indent: 2em;">面对持续疲弱的新增需求和租户流失的双重压力，业主方不得不加大租金下调力度，并在租赁优惠条件上推陈出新，如提供搬迁及装修补贴、降低续租租金并提供免租期等。免租期、装修期的增加和佣金费率的提高加剧了业主租金收益的下滑。</p><p style="text-indent: 2em;">仲量联行报告称，
                        2015年底全市甲级办公楼市场的平均有效净租金较2014年底跌幅达4.7%，跌至每月94元/平方米。可比项目(指两个比较的时间段里面均包含的项目作比较)的租金跌幅更达6.1%。世邦魏理仕报告也称，2015年，成都写字楼平均租金同比下跌6.6%，跌幅创年度历史新高。</p><p style="text-indent: 2em;">不仅如此，在零售物业方面，形势也不容乐观。而且成都百货业近几年已有十余家百货商场门店关门，还有仁和春天这样的高端百货商场被整体出让。关店潮的一个重要原因就是的购物中心猛增。</p><p style="text-indent: 2em;">据锐理数据统计，截至2015年4月，成都购物中心以超700万平方米的总体量，跃居全国第一。成都主城区有据可查的购物中心数量为71个，平均每个行政区约12个。</p><p style="text-indent: 2em;">世邦魏理仕报告称，2015年成都优质零售商业迎来空档期，新增供应回落至50万平方米以下，但市场总存量已突破600万平方米，在中国二线城市中居首。仲量联行的报告也称，2015年成都优质零售物业总存量增至约566万平方米。</p><p style="text-indent: 2em;">另外，高力国际1月13日发布的年度报告还称，值得关注的是，成都市场正出现购物中心推迟开业的现象，继2015年内三个购物中心推迟开业之后，另有八个原计划于2016年开业的购物中心亦计划推迟开业。</p><p style="text-indent: 2em;">与写字楼和零售地产形成鲜明对比的是工业物流地产。</p><p style="text-indent: 2em;">世邦魏理仕的报告称，
                        2015年全年新增供应总量为27.3万平方米，高标库总存量达到157.8万平方米。但是，来自电商、零售商以及第三方物流企业的租赁需求依然不减，平均空置率却较2014年末下降了11.1个百分点。</p><p style="text-indent: 2em;">仲量联行报告也称，受强劲租赁需求推动，2015年成都优质物流仓储市场吸纳量达历史新高，录得35万平方米。空置率也由2014年年底的27.2%下降至2015年年底的11.3%。</p><p style="text-indent: 2em;">仲量联行成都公司工业地产部负责人景颐向《第一财经日报》表示，其中电商需求最为强劲，京东商城在成都2015年新租优质物流仓储面积约8万平方米，增长了三倍。物流仓储地产虽然回收周期长，但是稳定，因此吸引一些地产巨头进入，比如万科等企业已经进军物流地产。</p><p style="text-indent: 2em;">世邦魏理仕华西区工业及物流服务部副董事尤鹏伟也表示，中国物流地产前九大开发商都已经在成都跑马圈地，比如平安3年前在成都还没有项目，通过收购二手项目抢占市场，现在已经占到成都市场的6%。他认为，成都物流地产的租金未来三年将有明显增长。</p><p><br></p>
                    </div>
                    <div align="right" style="margin-top: 20px;">
                        [<a href="news_trend.html">关闭本页</a>]&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <!--right End-->
    </div>
    <!--bottom-->
    <div class="bottom clearfix">
        <div class="bottom-lt fl">
            <p>
                地址：陕西省西安市碑林区长安北路21号</p>
            <p>
                电话：02988880055</p>
        </div>
        <div class="bottom-rt fr">
            <p>
                陕西宝鼎融资担保有限公司
                版权所有
            </p>
            <p>
                Copyright © 2016 baoding All Right Reserved</p>
        </div>
    </div>
    <!--bottom End-->
    <!--footer-->
    <div class="footer">
        &nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank"> 陕ICP备16001295号</a>&nbsp;&nbsp;|&nbsp;&nbsp;技术支持：<a href="http://www.mingtengnet.com/" target="_blank">明腾-西部商务网</a>
    </div>
    <!--footer End-->
    <!--返回顶部-->
    <div class="scroll" id="scroll" style="display: none;">
        回到顶部
    </div>
</div>
<!--main End-->
<div id="QQFloat2" style="Z-INDEX:999;left:5px;VISIBILITY:visible;WIDTH:140px;POSITION:absolute;TOP:100px;HEIGHT:200px;">
    <img id="img" src="image/pf.jpg" border="1"><br><center>官方微信</center>
    <br>
    <a href="zxjj_xmsq.html" target="_blank"><img id="img" src="image/pf(1).jpg" border="1" width="135"></a><br>
    <span style="cursor:pointer;color:red;font-weight:bold" onclick="QQFloat2.style.visibility = &#39;hidden&#39;;">×</span>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.SuperSlide.2.1.1.js"></script>
<script src="js/about.js"></script>
<script src="js/common.js"></script>
</body>
</html>